{% extends "index/app.html" %}
{% load static %}
{% block content %}
<style type="text/css">
    .btn-secondary{
        margin-left: 5px;
    }
</style>
<div class="container mt-4">
    <div class="mb-3" id='container-data'>
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function(){
    function createElementData(title_, id_){
        const container = document.getElementById('container-data');
        const title = document.createElement('label');
        title.setAttribute('class','form-label h4');
        title.textContent = title_;
        container.appendChild(title);
        const label = document.createElement('label');
        label.setAttribute('class','form-control');
        const keywords = ["lsb", "msb","otherData"];
        const containsKeyword = keywords.some(keyword => id_.includes(keyword));
        if(containsKeyword){
            label.style.overflowY = 'scroll';
            label.style.height = '250px';
        }
        label.setAttribute('id',id_);
        container.appendChild(label);

    }
    function signature(){
        let app = ('{{ signature|escapejs }}');
        let status = "FALSE"
        if(app && app !== "None"){
            createElementData('File Signature','signature');
            let arr = app.slice(1,-1).replace(/[', ]/g,"");
            let elementApp = document.getElementById('signature');
            if(arr === "89504e470d0a1a0a"){
                status = "TRUE"
            }
            elementApp.innerText += "Marker identifier : "+arr+" "+status;
        }
    }
    function IHDR(){
        let app = ('{{ IHDR|escapejs }}');
        process(app, 'IHDR signature','IHDR');
    }
    function sRGB(){
        let app = ('{{ sRGB|escapejs }}');
        process(app, 'sRGB signature','sRGB');
    }
    function gAMA(){
        let app = ('{{ gAMA|escapejs }}');
        process(app, 'gAMA signature','gAMA');
    }
    function pHYs(){
        let app = ('{{ pHYs|escapejs }}');
        process(app, 'pHYs signature','pHYs');
    }
    function tEXt(){
        let app = ('{{ tEXt|escapejs }}');
        process(app, 'tEXt signature','tEXt');
    }
    function IEND(){
        let app = ('{{ IEND|escapejs }}');
        process(app, 'IEND signature','IEND');
    }
    function process(app, title_, id_){
        if(app && app !== "None"){
            createElementData(title_,id_);
            let elementApp = document.getElementById(id_);
            let arr = app.slice(1,-1).replace(/[']/g,"").replace(/[\[\]]/g, "").split(',');
            arr.forEach(item=>{
                elementApp.innerText += item+"\n";
            });
        }
    }
    function IDAT(){
        let app = ('{{ IDAT|escapejs }}');
        if(app && app !== "None"){
            createElementData('IDAT CRC signature','IDAT');
            let elementApp = document.getElementById('IDAT');
            let arr = app.slice(1,-1).replace(/[']/g,"").split(',');
            arr.forEach(item=>{
                elementApp.innerText += item+"\n";
            });
        }
    }
    function RGB_LSB(){
        let app = ('{{ RGB_LSB|escapejs }}');
        if(app && app !== "None"){
            createElementData('RGB Channel (Steganography) LSB','lsb');
            let elementApp = document.getElementById('lsb');
            elementApp.innerText += app;
        }
    }
    function RGB_MSB(){
        let app = ('{{ RGB_MSB|escapejs }}');
        if(app && app !== "None"){
            createElementData('RGB Channel (Steganography) MSB','msb');
            let elementApp = document.getElementById('msb');
            elementApp.innerText += app;
        }
    }
    function DATA(){
        let app = ('{{ DATA|escapejs }}');
        if(app && app !== "None"){
            createElementData('Validasi File','valid');
            let elementApp = document.getElementById('valid');
            let arr = app.slice(1,-1).replace(/[']/g,"").replace(/[\[\]]/g, "").split(',');
            arr.forEach(item=>{
                elementApp.innerText += item+"\n";
            });
        }
    }
    function otherData(){
        let app = ('{{ otherData|escapejs }}');
        if(app && app !== "None"){
            createElementData('Data Lain','otherData');
            let elementApp = document.getElementById('otherData');
            let arr = app.slice(1,-1).replace(/[']/g,"").replace(/[\[\]]/g, "").split(',');
            arr.forEach(item=>{
                elementApp.innerText += item+"\n";
            });
        }
    }
    signature();
    IHDR();
    sRGB();
    gAMA();
    pHYs();
    tEXt();
    IEND();
    IDAT();
    RGB_LSB();
    RGB_MSB();
    DATA();
    otherData();
});
</script>
{% endblock content %}