{% extends "index/app.html" %}
{% load static %}
{% block content %}
<style type="text/css">
    .btn-secondary{
        margin-left: 5px;
    }
</style>
<div class="container mt-4">
    <img src="{{ image_url }}" alt="Uploaded Image" style="max-width: 20%;">
    <div class="mb-3" id='container-data'>
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function(){
    function createElementData(title_, id_){
        const container = document.getElementById('container-data');
        const title = document.createElement('label');
        title.setAttribute('class','form-label h4');
        title.textContent = title_;
        container.appendChild(title);
        const label = document.createElement('label');
        label.setAttribute('class','form-control');
        const Y_scroll = ["lsb", "msb","otherData"];
        const X_scroll = ["PLTE", "tRNS","iCCP"];
        const Y_scrollContaint = Y_scroll.some(keyword => id_.includes(keyword));
        const X_scrollContaint = X_scroll.some(keyword => id_.includes(keyword));
        if(Y_scrollContaint){
            label.style.overflowY = 'scroll';
            label.style.height = '250px';
        }else if(X_scrollContaint){
            label.style.overflowX = 'scroll';
        }
        label.setAttribute('id',id_);
        container.appendChild(label);

    }
    function signature(){
        let app = ('{{ signature|escapejs }}');
        let status = "FALSE"
        if(app && app !== "None"){
            createElementData('File Signature','signature');
            let elementApp = document.getElementById('signature');
            if(app === "89504e470d0a1a0a"){
                status = "TRUE"
            }
            elementApp.innerText += "Marker identifier : "+app+" "+status;
        }
    }
    function IHDR(){
        let app = ('{{ IHDR|escapejs }}');
        process(app, 'IHDR signature','IHDR');
    }
    function oFFs(){
        let app = ('{{ oFFs|escapejs }}');
        process(app, 'oFFs signature','oFFs');
    }
    function eXIf(){
        let app = ('{{ eXIf|escapejs }}');
        process(app, 'eXIf signature','eXIf');
    }
    function iCCP(){
        let app = ('{{ iCCP|escapejs }}');
        process(app, 'iCCP signature','iCCP');
    }
    function sBIT(){
        let app = ('{{ sBIT|escapejs }}');
        process(app, 'sBIT signature','sBIT');
    }
    function bKGD(){
        let app = ('{{ bKGD|escapejs }}');
        process(app, 'bKGD signature','bKGD');
    }
    function PLTE(){
        let app = ('{{ PLTE|escapejs }}');
        process(app, 'PLTE signature','PLTE');
    }
    function tRNS(){
        let app = ('{{ tRNS|escapejs }}');
        process(app, 'tRNS signature','tRNS');
    }
    function iTXt(){
        let app = ('{{ iTXt|escapejs }}');
        process(app, 'iTXt signature','iTXt');
    }
    function tIME(){
        let app = ('{{ tIME|escapejs }}');
        process(app, 'tIME signature','tIME');
    }
    function sRGB(){
        let app = ('{{ sRGB|escapejs }}');
        process(app, 'sRGB signature','sRGB');
    }
    function gAMA(){
        let app = ('{{ gAMA|escapejs }}');
        process(app, 'gAMA signature','gAMA');
    }
    function cHRM(){
        let app = ('{{ cHRM|escapejs }}');
        process(app, 'cHRM signature','cHRM');
    }
    function pHYs(){
        let app = ('{{ pHYs|escapejs }}');
        process(app, 'pHYs signature','pHYs');
    }
    function tEXt(){
        let app = ('{{ tEXt|escapejs }}');
        process(app, 'tEXt signature','tEXt');
    }
    function IEND(){
        let app = ('{{ IEND|escapejs }}');
        process(app, 'IEND signature','IEND');
    }
    function process(app, title_, id_){
        if(app && app !== "None"){
            createElementData(title_,id_);
            let elementApp = document.getElementById(id_);
            let arr = app.slice(1,-1).replace(/[']/g,"").replace(/[\[\]]/g, "").split(',');
            arr.forEach(item=>{
                elementApp.innerText += item+"\n";
            });
        }
    }
    function IDAT(){
        let app = ('{{ IDAT|escapejs }}');
        if(app && app !== "None"){
            createElementData('IDAT CRC signature','IDAT');
            let elementApp = document.getElementById('IDAT');
            let arr = app.slice(1,-1).replace(/[']/g,"").split(',');
            arr.forEach(item=>{
                elementApp.innerText += item+"\n";
            });
        }
    }
    function RGB_LSB(){
        let app = ('{{ RGB_LSB|escapejs }}');
        if(app && app !== "None"){
            createElementData('RGB Channel (Steganography) LSB','lsb');
            let elementApp = document.getElementById('lsb');
            elementApp.innerText += app;
        }
    }
    function RGB_MSB(){
        let app = ('{{ RGB_MSB|escapejs }}');
        if(app && app !== "None"){
            createElementData('RGB Channel (Steganography) MSB','msb');
            let elementApp = document.getElementById('msb');
            elementApp.innerText += app;
        }
    }
    function DATA(){
        let app = ('{{ DATA|escapejs }}');
        if(app && app !== "None"){
            createElementData('Validasi File','valid');
            let elementApp = document.getElementById('valid');
            let arr = app.slice(1,-1).replace(/[']/g,"").replace(/[\[\]]/g, "").split(',');
            arr.forEach(item=>{
                elementApp.innerText += item+"\n";
            });
        }
    }
    function otherData(){
        let app = ('{{ otherData|escapejs }}');
        if(app && app !== "None" && app.length === 0){
            createElementData('Data Lain','otherData');
            let elementApp = document.getElementById('otherData');
            let arr = app.slice(1,-1).replace(/[']/g,"").replace(/[\[\]]/g, "").split(',');
            arr.forEach(item=>{
                elementApp.innerText += item+"\n";
            });
        }
    }
    signature();
    IHDR();
    oFFs();
    eXIf();
    iCCP();
    sBIT();
    bKGD();
    PLTE();
    tRNS();
    iTXt();
    tIME();
    sRGB();
    gAMA();
    cHRM();
    pHYs();
    tEXt();
    IEND();
    IDAT();
    RGB_LSB();
    RGB_MSB();
    DATA();
    otherData();
});
</script>
{% endblock content %}