{% extends "index/app.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dashboard</title>
</head>
<body>
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/jquery.dataTables.css' %}">
<script src="{% static 'bootstrap/js/jquery-3.7.1.min.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

<div class='container-fluid'>
	<div class="mb-4 upload-form">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="mb-3">
				<label for="formFileMultiple" class="form-label">Input File <b>JPG,PNG,BMP And GIF <label id="showMoreBtn" class="text-decoration-underline fw-bold" style="cursor: pointer; color: blue;">Show More</label></b></label>
			</div>
			<input class="form-control" type="file" name="file" required>
			<div class="upload-submit">
				<input class="btn btn-primary" type="submit" name="submit" value="Upload">
			</div>
		</form>
	</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Extension Support</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>JPG</li>
                        <li>PNG</li>
                        <li>BMP</li>
                        <li>GIF</li>
                        <li>PCAP</li>
                        <li>PCAPNG</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        const showMoreBtn = document.getElementById('showMoreBtn');
        const myModal = new bootstrap.Modal(document.getElementById('myModal'));

        showMoreBtn.addEventListener('click', function() {
            myModal.show();
        });
    </script>
	<table id="statusTable" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Nama</th>
                <th scope="col">Size</th>
                <th scope="col">Extension</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
    </table>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#statusTable').DataTable({
            ajax: {
                url: '/getData/',
                dataSrc: ''
            },
            columns: [
                { data: null, render: function(data, type, row, meta) {
                    return meta.row + 1;
                }},
                { data: 'name', orderable: false },
                { data: 'size' },
                { data: 'format' , orderable: false},
                { data: null, orderable: false, render: function(data, type, row) {
                    return `
                        <a class="btn btn-success btn-sm" href=analisa${row.format}/${row.id} target="_blank">Analisa</a>
                        <a class="btn btn-danger btn-sm" href=deleteData/${row.id}>Delete</a>
                    `;
                }}
            ]
        });
    });
    </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>

</div>
{% endblock content %}
</body>
</html>